Include /etc/ssh/sshd_config.d/*.conf

Port 1122

PubkeyAuthentication yes

PasswordAuthentication yes
PermitEmptyPasswords yes
PermitRootLogin yes

ChallengeResponseAuthentication no

#UsePAM no

X11Forwarding yes
PrintMotd yes

AcceptEnv LANG LC_*
Subsystem	sftp	/usr/lib/openssh/sftp-server
ClientAliveInterval 120